html,
body {
  margin: 0%;
  padding: 0%;
}

.grid-container {
  display: grid;
  grid-template-columns: 20% auto;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  grid-template-rows: 1fr 80% 1fr;
  height: 100vh;
}
.header {
  display: grid;
  grid-area: header;
  background-color: coral;
  color: whitesmoke;
  place-items: center;
}

.main {
  grid-area: main;
  border: solid 1px grey;
  background-color: gold;
}
.aside {
  grid-area: aside;
  background-color: chocolate;
  color: whitesmoke;
}

.footer {
  display: grid;
  grid-area: footer;
  background-color: coral;
  place-items: center;
  color: whitesmoke;
  place-items: center;
}

.aside ul li a {
  text-decoration: none;
  color: whitesmoke;
}
